Tipo	Nombre				Paquete

0       Token inicial			ID(1B),IP(4B)->Guardar ip y luego verificar cual es 
					la mas baja

1	Token ocupado, solicitud	ID(1B),IDNODO(2B),IPNODO(4B),PORTNODO(2B)-> Usar bandera de
					que envio un paquete de solicitud.

2	Token ocupado, complete		ID(1B)->usa un contador, cuando llega a la cant de naranjas
					manda mensajes a los azules de que ya empiecen.

3	Token Vacio			ID(1B)->un id 3 es que el token esta vacio, si tengo tareas
					entonces ocupo el token sino solo lo paso.
